.logo {
  display: flex;
  justify-content: center; 
  align-items: center;  
  color:black;
  border-radius:20px;
   font-size: 15px;
}
.search h3 {
  font-size: 27px;
}
.features {

 display:grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
    row-gap: 2px;
     margin: 0 auto;
    align-items: start;

}
.feature {
    width: 300px;
    box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.7);
    background-color: #64a7b5;
    height: 90px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    font-size: 21px;
    cursor: pointer;
    color:black;
   border:None

 
}


.feature:hover {
 background-color: #76bdcc;
  transform: scale(1.05); 
}
.search p {
  font-size:22px;
}

input, button {
  font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
}
.search button:hover {
  background-color: #76bdcc;
  transform: scale(1.05); 
}

.search button{
  background-color: #64a7b5;
  color:black;
}
.paraggelies {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 20px;
  column-gap: 1px;
  line-height: 1.6; 
}

.search {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
  border-radius:10px;
  padding: 30px;
  Height: 400px;
  width:1000px;
  line-height: 0.5;
  background-color:white;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgba(219, 228, 238, 0.4);
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-buttons {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-left:40px;
}

#results ul {
  line-height: 1.6;
}
.paraggelies {
  background: #f9f9f9;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 20px;
}

.invoice-link {
  font-size: 20px; 
  color: #2c1092;
  margin-left: 40px;
}
