.logo {
    display: flex;
    justify-content: center; 
    align-items: center;  
    color:black;
    border-radius:20px;
     font-size: 15px;
  }
  .search h3 {
    font-size: 27px;
  }
  .features {
    display:grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
    row-gap: 2px;
     margin: 0 auto;
    align-items: start;
  
  }
  .feature {
    width: 250px;
    box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.7);
    background-color: #64a7b5;
    height: 150px;
    border-radius: 60px;
    padding: 20px;
    display: flex;
    font-size: 18px;
    cursor: pointer;
    color:black;
   
  }
  
  
  .feature:hover {
   background-color: #76bdcc;
    transform: scale(1.05); 
  }
  .search p {
    font-size:22px;
  }
  
  input, button {
    font-size: 20px;
      cursor: pointer;
      border-radius: 5px;
  }
  .search button:hover {
    background-color: #76bdcc;
    transform: scale(1.05); 
  }
  
  .search button{
    background-color: #64a7b5;
    color:black;
  }
  .paraggelies {
    display:grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    column-gap: 150px;
    line-height:0.5;
  }
  
  .search {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
    border-radius:10px;
    padding: 30px;
    Height: 400px;
    width:1000px;
    line-height: 0.5;
    background-color:white;
  }
  body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(219, 228, 238, 0.4);
  }
